@media (max-width: 720px) {
  .about-ctner div {
    padding: 30px 10px 33px 10px;
  }

  .job-ctner {
    /* display: grid !important; */
    width: 340px !important;
    justify-content: center;
    justify-items: center;
  }

  #project {
    height: 1550px;
  }

  #project .container:last-child {
    height: 500px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 20px;
  }

  #project img {
    width: 268px;
  }

  .project-1,
  .project-2,
  .project-3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 30px;
    width: 269px;
  }

  .project-info-icon {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 5px;
  }

  #footer .containers {
    text-align: center;
    padding-top: 30px;
    height: 110px;
  }

  #footer .containers ul span {
    display: none;
  }

  #footer .containers li i {
    color: var(--darkcyan);
    font-size: 30px;
  }
}

@media (max-width: 467px) {
  #nav-bar .container {
    padding: 0px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .nav-bar {
    text-align: center;
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
  }

  .nav-bar a {
    padding: 0px;
    padding: 0px 0px 20px 0px;
  }

  .left,
  .right {
    border: none;
  }

  .nav-bar > span {
    display: none;
  }

  .about-ctner {
    display: grid !important;
    grid-template-columns: 100%;
    grid-template-rows: 50% 1fr;
    font-size: 10px;
    margin-bottom: 30px;
  }

  .no-4,
  .no-5,
  .no-6 {
    margin-bottom: 50px;
  }

  #certificate .container {
    display: flex;
    flex-direction: column;
    height: 820px;
  }

  #certificate .container::before,
  #certificate .container::after {
    display: none;
  }

  /* Old method :Ä */
  /* .first {
    display: grid;
    grid-template-columns: 253px;
    grid-template-rows: 130px 103px;
    justify-items: center;
  }

  .second {
    display: grid;
    grid-template-columns: 253px;
    grid-template-rows: 130px 103px;
    justify-items: center;
  }

  .third {
    display: grid;
    grid-template-columns: 253px;
    grid-template-rows: 130px 103px;
    justify-items: center;
  } */

  .first::before,
  .second::before {
    content: "";
    border-bottom: 1px var(--a-orange) solid;
    width: 200px;
    justify-self: center;
  }

  .first,
  .second,
  .third {
    display: grid;
    grid-template-columns: 253px;
    grid-template-rows: 105px 103px;
    justify-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 0px;
  }

  .first > img,
  .second > img,
  .third > img {
    width: 200px;
  }

  #project {
    height: 1550px;
  }

  #project .container:last-child {
    height: 500px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 20px;
  }

  #project img {
    width: 268px;
  }

  .project-1,
  .project-2,
  .project-3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 30px;
    width: 269px;
  }

  .project-info-icon {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 5px;
  }
}
